<!DOCTYPE html>
<html>
<head>
    <title>Jian ZHAO (赵健)</title>
    <!-- Custom Theme files -->
    <link rel="icon" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script>
        const cof = 880 / 1792;

        adaptiveHeight = function() {
            const width = window.innerWidth;
            const img = document.getElementById('cover');

            img.style.minHeight = (cof * width).toString() + "px";
        };

        // adaptiveHeight();
        // console.log("add resize");
        window.addEventListener("load", function () {
            adaptiveHeight();
        })
        window.addEventListener("resize", function () {
            adaptiveHeight();
        })
    </script>
    <!-- //Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!--web-fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet'
          type='text/css'>
    <!--//web-fonts-->
    <!--circle-chart-->
    <script src="js/jquery.circlechart.js"></script>
    <!--circle-chart-->
</head>
<body>

<div class="">
<!--header-->
<!--header-->
<div class="header header-contents">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header navbar-left">
                <h1><a href="index.html"><img style="width: 40rem" src="images/EVOL_new.jpg"/></a></h1>
            </div>
            <!--navigation-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-right">
                <div class="top-nav-text">
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="publication.html" class="scroll">Publications</a></li>
                        <li><a href="people.html" class="scroll">Members</a></li>
                        <li><a href="seminar.html" class="scroll">Seminar</a></li>
                        <li><a href="opening.html" class="scroll">Join Us</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div><!--//navigation-->
            </div>
            <div class="clearfix"></div>
        </div>
    </nav>
</div>

<div class="banner background cover" id="cover">
    <div class="container">
          <!-- <div class="banner-text">
                <div  id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="banner-text-info" >
                                <h2>Welcome to Wei's Group</h2>
                            </div>
                        </li>

                    </ul>
                </div>
            </div> -->
    </div>
</div>

<!-- <div class="album-li-pic banner">
    <img src="./images/BJTU_0.jpg" alt="">
</div> -->

<script>
    // const cof = 880 / 1792;
    const width = window.innerWidth;
    const img = document.getElementById('cover');

    img.style.minHeight = (cof * width).toString() + "px";
    img.style.background = "url(images/dianxin1.jpg) no-repeat center 0px";
    img.style.backgroundSize = "cover";
</script>


<!--research interests-->
<div class="team" id="team">
    <div class="team-info">
        

        <div class="container">
            <div class="team-row center-row">
                <div class="col-md-3 team-grids">
                    <div class="team-img">
                        <img class="teacher-img" src="images/people/jian_zhao.jpg" alt="">
                        <!-- <h4>Yunchao Wei</h4> -->
                        <!-- <p>Professor</p> -->
                    </div>
                </div>
                <div class="col-md-9">
                    <h3>Jian ZHAO 赵健</h3>
                    <!-- <i class="quote">"行稳致远 Knowledge changes fate."</i> -->
                    <!-- <br> -->
                    <p> 
                        <!-- Professor<br/> -->
                        Leader of Evolutionary Vision+x Oriented Learning (EVOL) Lab & Principal Research Scientist @ Institute of AI (TeleAI), China Telecom, Beijing, P.R. China
                        <br>
                        Researcher & Ph.D. Supervisor @ School of Artificial Intelligence, Optics and Electronics (iOPEN) ｜ Northwestern Polytechnical University (NWPU), Xi'an Shanxi, P.R. China
                        <br>
                    <strong>Office</strong>: 11 Dongzhimen South Street, Dongcheng District, Beijing, China 100027<br/>
                    <strong>Phone</strong>: (86) 15313525501 <br>
                    <strong>Email</strong>: zhaoj90 (at) chinatelecom (dot) cn OR jian_zhao (at) nwpu (dot) edu (dot) cn OR zhaojian90 (at) u (dot) nus (dot) edu OR zhaoj08 (at) pcl (dot) ac (dot) cn<br/>
                    <strong>Prospective Students</strong> : <a href="opening.html">Contact me</a>. <br>
                    <!-- <div class="social-icons">
                        <ul>
                            <li><a href="https://github.com/ZhaoJ9014" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/%E5%81%A5-%E8%B5%B5-5546952a1/?locale=en_US" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://scholar.google.com.sg/citations?hl=en&user=zdhRJCkAAAAJ&view_op=list_works&gmla=AJsN-F4PURIx5GMQHVpprJJBjTsNC62YCHjxGsKOwVhrkZ1aJsLgBiuKPBbAgbdcE5_KNw3OnLQgOVSjlqmS6gc-6ti0M2K5o-klHgoOywFCbdaaGnpis130zvgoZFJkVfmoNKpo8Krp" target="_blank"><i class="ai ai-google-scholar"></i></a></li>
                        </ul>
                    </div> -->
                    <a href="https://iopen.nwpu.edu.cn/info/1349/4636.htm">
                        <img src="./images/iopen.png" alt="" height="22px">
                    </a>
                    <a href="https://github.com/ZhaoJ9014">
                        <img src="./images/github.png" alt="" height="20px">
                    </a>
                    <a href="https://www.linkedin.com/in/%E5%81%A5-%E8%B5%B5-5546952a1/?locale=en_US">
                        <img src="./images/in.ico" alt="" height="20px">
                    </a>
                    <a href="https://scholar.google.com.sg/citations?hl=en&user=zdhRJCkAAAAJ&view_op=list_works&gmla=AJsN-F4PURIx5GMQHVpprJJBjTsNC62YCHjxGsKOwVhrkZ1aJsLgBiuKPBbAgbdcE5_KNw3OnLQgOVSjlqmS6gc-6ti0M2K5o-klHgoOywFCbdaaGnpis130zvgoZFJkVfmoNKpo8Krp" target="_blank"><i
                        ></i> 
                         <img src="./images/google_scholar.png" alt="" height="20px">
                     </a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <br>
        <div class="container">
            <h3 class="title">Research Interests</h3>

            <div class="center-row" style="font-size: 16px;">

                <p>
                    My research interests include Multimedia Analytics, Vicinagearth Security, and AI Agent. In particular, I have recently worked in:
                </p>

                <ul id="interests">
                    <li>
                        Multimedia Analytics: detection and tracking of small objects in complex scenarios, etc.
                    </li>
                    <li>
                        Vicinagearth Security: perception and understanding of visual targets under unconstrained conditions, etc.
                    </li>
                    <li>
                        AI Agent (AI for Good): Autonomous agent for Beauty, Food, Home, Tour, Clip, etc.
                    </li>
                </ul>
                <p>
                    More details can be found <a href="opening.html">here</a>. 
                </p>

            </div>
        </div>



        <!-- news -->
        <div class="container">
            <h3 class="title">News</h3>
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">01 Dec 2024, Will organize the Resource-Limited Infrared Small Target Detection (<a href="https://limitirstd.github.io" target="_blank">LimitIRSTD</a>) Challenge with ICPR 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">18 Oct 2024, Will organize the Wide Infrared Small Target Detection (<a href="https://wideirstd.github.io" target="_blank">WideIRSTD</a>) Challenge with PRCV 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">29 Jul 2024, Will give a talk "Unconstrained Perception and Understanding: From Visual Vertical Domain Modeling to Multimodal Unification and Multi-Task Collaboration" on <a href="https://mp.weixin.qq.com/s/HFGjGQeefuvl73VYk58ecA" target="_blank">The Workshop of Red Teaming Multi-Modal Large Language Model Security Challenge</a> with CCDM 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">28 Jul 2024, Will organize the <a href="https://ccf.org.cn/CCDM2024/general_3035" target="_blank">Evolutionary Vision+X Oriented Learning</a> Workshop with CCDM 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">26 Jul 2024, Will give a talk "AI4Beauty: Innovation and Empowerment in the Era of LLMs" on <a href="https://chinamm.csig.org.cn/2024/forum.html" target="_blank">ChinaMM</a> 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">22 Jul 2024, officially <a href="https://mp.weixin.qq.com/s/pPIsj7IdML13GxWAfZ1FOQ" target="_blank">interviewed</a> by Committee for Elite Young Professionals, CSIG.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">18 Jul 2024, Will give a talk "Unconstrained Perception and Understanding: From Visual Vertical Domain Modeling to Multimodal Unification and Multi-Task Collaboration" on the 7th <a href="https://mp.weixin.qq.com/s/WZxPN_XcRfNqNKwUlY8BiQ" target="_blank">CSIG Outstanding PhD Forum</a> 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">16 Jul 2024, One paper is accepted to ACM MM 2024, congrats to Xinpeng Li!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">08 Jul 2024, Will give a talk "Multi-Modal AI Agent" on the TeleAI & EE of Tsinghua <a href="https://mp.weixin.qq.com/s/FACnsuhQ2tKwrRLelX35rg" target="_blank">Meet-Up</a> 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">28 Jun 2024, Two papers are accepted to PRCV 2024, congrats to Xuechao Zou and Jun Wang!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ AWARD ]</div>
                        <div class="item-detail">17 Jun 2024, Achieved Winner Award on the 4th Physics based Vision Meets Deep Learning Workshop and Challenge on <a href="https://pbdl-ws.github.io/pbdl2024/Object%20Detection%20and%20Instance%20Segmentation%20in%20the%20Dark/index.html" target="_blank">Low-Light Object Detection and Instance Segmentation</a> (Detection Track) with CVPR 2024, congrats to Haiyang Xie, Shuai An, and Peng Cheng!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ AWARD ]</div>
                        <div class="item-detail">17 Jun 2024, Achieved 3rd Place Award on the 4th Physics based Vision Meets Deep Learning Workshop and Challenge on <a href="https://pbdl-ws.github.io/pbdl2024/Object%20Detection%20and%20Instance%20Segmentation%20in%20the%20Dark/index.html" target="_blank">Low-Light Object Detection and Instance Segmentation</a> (Segmentation Track) with CVPR 2024, congrats to Haiyang Xie, Shuai An, and Peng Cheng!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">15 Jun 2024, Will give a talk "Unconstrained Perception and Understanding: From Visual Vertical Domain Modeling to Multimodal Unification and Multi-Task Collaboration" on <a href="https://mp.weixin.qq.com/s/MU8xKC6y6z0thAGJvubY3A" target="_blank">BAAI Conference</a> 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">28 May 2024, Will organize the <a href="https://skatingverse.github.io/" target="_blank">SkatingVerse</a> Workshop & Challenge with FG 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">17 Apr 2024, One paper is accepted to IJCAI 2024, congrats to Jianqiang Xia!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">14 Apr 2024, Will organize the <a href="https://mp.weixin.qq.com/s/W5bIvKLaTP_ZcNlng-YF1w" target="_blank">LLM & AGI</a> Workshop with CAIIAC 2024.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">10 Apr 2024, Will organize the VALSE <a href="https://mp.weixin.qq.com/s/C3corJ5JWkmHTixaGk0_SA" target="_blank">Webinar</a> on "Incomplete Multi-Modal Information Fusion for Perception and Understanding in Complex Scenarios".

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ ACTIVITY ]</div>
                        <div class="item-detail">02 Apr 2024, officially <a href="https://mp.weixin.qq.com/s/--cxnHNSAhb7kSyfKkV-WQ" target="_blank">interviewed</a> by CSIG.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">13 Mar 2024, One paper is accepted to ICME 2024, congrats to Ziliang Gan!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ TEAM ]</div>
                        <div class="item-detail">1 Mar 2024, I joined School of Artificial Intelligence, Optics and Electronics (iOPEN), Northwestern Polytechnical University (NWPU) as a Researcher.

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail">27 Feb 2024, Two papers are accepted to CVPR 2024, congrats to Tao Wang and Chen Min!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ TEAM ]</div>
                        <div class="item-detail">26 Feb 2024, I joined China Telecom Institute of AI (TeleAI) as a Young Scientist.

                        </div>
                    </li>
                     <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail"> 17 Feb 2024, One paper is accepted to T-OMM, congrats to Zhihao Zhang!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ AWARD ]</div>
                        <div class="item-detail"> 25 Jan 2024, I received the 2023 CAAI WU WEN JUN AI <a target="_blank" href="https://mp.weixin.qq.com/s/yKmZ5qwepRmdlw6v58I3UA">Outstanding Youth Award</a>!

                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ PAPER ]</div>
                        <div class="item-detail"> 23 Jan 2024, One paper is accepted to IJCV, congrats to Haoyu Xie!

                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <!-- awards -->
        
        <div class="container">
            <h3 class="title">Selected Honors & Awards</h3>

            <div class="center-row" style="font-size: 16px;">

                <ul id="interests">
                        <li> 2024, <a href="pub/PBDL-DET.png" target="_blank">Winner Award (1/9)</a>, The 4th Physics based Vision Meets Deep Learning Workshop and Challenge on <a href="https://pbdl-ws.github.io/pbdl2024/Object%20Detection%20and%20Instance%20Segmentation%20in%20the%20Dark/index.html" target="_blank">Low-Light Object Detection and Instance Segmentation</a> (Detection Track) with CVPR 2024. <a target="_blank" href="https://mp.weixin.qq.com/s/2tZSg4NYUnEsARGfGKSYCw">[TeleAI Official News]</a>
                        <li> 2024, <a href="pub/PBDL-SEG.png" target="_blank">3rd Place Award (1/9)</a>, The 4th Physics based Vision Meets Deep Learning Workshop and Challenge on <a href="https://pbdl-ws.github.io/pbdl2024/Object%20Detection%20and%20Instance%20Segmentation%20in%20the%20Dark/index.html" target="_blank">Low-Light Object Detection and Instance Segmentation</a> (Segmentation Track) with CVPR 2024. <a target="_blank" href="https://mp.weixin.qq.com/s/2tZSg4NYUnEsARGfGKSYCw">[TeleAI Official News]</a>
                        <li> 2023, WU WEN JUN AI <a href="pub/WWJ-2024.jpg" target="_blank">Outstanding Youth Award</a>, Chinese Association for Artificial Intelligence (CAAI). <a target="_blank" href="https://mp.weixin.qq.com/s/yKmZ5qwepRmdlw6v58I3UA">[Official Announcement]</a> <a href="pub/WWJ-2024-CEM.jpg" target="_blank">[Award Ceremony]</a>
                        <li> 2023, <a href="pub/3rd-anti-uav.jpeg" target="_blank">Outstanding Contribution Award</a>, the 3rd <a target="_blank" href="https://anti-uav.github.io/">Anti-UAV</a> Workshop & Challenge with CVPR (CCF-A) 2023.
                        <li> 2022, <a href="pub/WWJ-2023.jpeg" target="_blank">1st Prize Award</a> (2/5), WU WEN JUN AI Natural Science Award, Chinese Association for Artificial Intelligence (CAAI). <a target="_blank" href="https://mp.weixin.qq.com/s/RxPKp8SQSaqJsKXR0dD8Iw">[Official Announcement]</a> <a href="pub/WWJ-2023-CEM.jpeg" target="_blank">[Award Ceremony]</a>
                        <li> 2022, <a href="pub/huawei22.jpg" target="_blank">1st-Place Award</a> (Advisor), Huawei Special Award, the "Huawei Cup" 4th China Graduate Artificial Intelligence Innovation Challenge.
                        <li> 2021, <a href="pub/WebFace260M.jpg" target="_blank">1st-Place Award</a> (Advisor), <a target="_blank" href="https://ibug.doc.ic.ac.uk/resources/masked-face-recognition-challenge-workshop-iccv-21/">Masked Face Recognition Challenge</a> (WebFace260M Track) with ICCV (CCF-A) 2021.
                        <li> <a href="pub/Certificate-CAST.PDF" target="_blank">The 6th Young Elite Scientist Sponsorship Program</a>, China Association for Science and Technology. <a target="_blank" href="https://mp.weixin.qq.com/s/yGc_VTCNgqYRKAo75hre8g">[CSIG Official News]</a> <a href="pub/CAST.pdf" target="_blank">[CAST Official Announcement]</a>
                        <li> 2020, <a href="pub/360-1.jpg" target="_blank">A-Level Certificate</a> (Advisor), <a target="_blank" href="https://ai.xm.gov.cn/">China Artificial Intelligence Competition</a> (Activity Recognition Track). <a href="pub/360.jpg" target="_blank">[Award Ceremony]</a>
                        <li> <a href="pub/Certificate-BAST.pdf" target="_blank">2021-2023 Beijing Young Elite Scientist Sponsorship Program</a>, Beijing Association for Science and Technology. <a target="_blank" href="http://www.bsig.org.cn/detail/2430">[BSIG Official Announcement]</a>
                        <li> 2019, <a href="pub/PREMIA-19.jpeg" target="_blank">Lee Hwee Kuan Award</a> (1/6), Pattern Recognition and Machine Intelligence Association (PREMIA), Singapore. <a target="_blank" href="http://www.premiasg.org/for-members/premia-best-student-paper-awards/premia-best-student-paper-awards-2019/">[PREMIA Official Announcement]</a>
                        <li> 2018, <a href="pub/ACM MM18_Best Student Paper.pdf" target="_blank">Best Student Paper Award</a> (1/6), ACM MM (CCF-A) 2018.
                        <li> 2017, <a href="pub/MS-Track1.jpeg" target="_blank">1st-Place Award</a> (3/9), MS-Celeb-1M Face Recognition Challenge (Recognizing One Million Celebrities Track) with ICCV (CCF-A) 2017. <a href="http://mp.weixin.qq.com/s/-G94Mj-8972i2HtEcIZDpA" target="_blank">[WeChat News]</a> <a href="pub/ECE_Poster.jpeg" target="_blank">[NUS ECE Poster]</a> <a href="pub/MS-Awards.jpeg" target="_blank">[Award Ceremony]</a>
                        <li> 2017, <a href="pub/MS-Track2.jpeg" target="_blank">1st-Place Award</a> (1/7), MS-Celeb-1M Face Recognition Challenge (Recognizing One Million Celebrities Track) with ICCV (CCF-A) 2017. <a href="http://mp.weixin.qq.com/s/-G94Mj-8972i2HtEcIZDpA" target="_blank">[WeChat News]</a> <a href="pub/ECE_Poster.jpeg" target="_blank">[NUS ECE Poster]</a> <a href="pub/MS-Awards.jpeg" target="_blank">[Award Ceremony]</a>
                        <li> 2017, <a href="pub/IJBA_11_report.pdf" target="_blank">1st-Place Award</a> (1/10), National Institute of Standards and Technology (NIST) IJB-A Unconstrained Face Recognition Challenge (Verification Track). <a href="https://mp.weixin.qq.com/s/s9H_OXX-CCakrTAQUFDm8g" target="_blank">[WeChat News]</a>
                        <li> 2017, <a href="pub/IJBA_1N_report.pdf" target="_blank">1st-Place Award</a> (1/10), National Institute of Standards and Technology (NIST) IJB-A Unconstrained Face Recognition Challenge (Identification Track). <a href="https://mp.weixin.qq.com/s/s9H_OXX-CCakrTAQUFDm8g" target="_blank">[WeChat News]</a>
                        <li> 2017, <a href="pub/LIP_Certificate_Parsing.pdf" target="_blank">2nd-Place Award</a> (1/6), Look into Person (L.I.P) Challenge (Human Parsing Track) with CVPR (CCF-A) 2017. <a href="pub/LIP-Awards.jpeg" target="_blank">[Award Ceremony]</a>
                        <li> 2017, <a href="pub/LIP_Certificate_Pose.pdf" target="_blank">2nd-Place Award</a> (2/6), Look into Person (L.I.P) Challenge (Human Pose Estimation Track) with CVPR (CCF-A) 2017. <a href="pub/LIP-Awards.jpeg" target="_blank">[Award Ceremony]</a>
                        <li> 2016, 3rd-Place Award (2/8), MS-Celeb-1M Face Recognition Challenge (<a target="_blank" href="https://www.microsoft.com/en-us/research/project/ms-celeb-1m-challenge-recognizing-one-million-celebrities-real-world/">Hard Set</a> Track) with ACM MM (CCF-A) 2016.
                </ul>

            </div>
        </div>
        <!-- special metion -->
        <div class="container">
            <h3 class="title" style="margin-bottom: 0.5em;">Academic Services & Activities</h3>
            <div class="center-row" style="font-size: 16px;">
                <h4 class="little_title">Academic Services</h4>
                    <span>Member of the Board of Directors</span>
                    <ul id="interests">
                    <li>Beijing Society of Image and Graphics (<a href="pub/BSIG.jpg" target="_blank">BSIG</a>) 
                    </ul>
                    <span>Editorial Board Member</span>
                    <li><a target="_blank" href="https://www.sciencedirect.com/journal/pattern-recognition/about/editorial-board">Pattern Recognition</a>
                    <li>Electronics and Signal Processing <a href="pub/ESP.png" target="_blank">[Certificate]</a>
                    <li><a target="_blank" href="https://journals.bilpubgroup.com/index.php/aia/about/editorialTeam">Artificial Intelligence Advances</a> <a href="pub/AIA.pdf" target="_blank">[Certificate]</a>
                    <li>IET Computer Vision <a href="pub/CVI.pdf" target="_blank">[Certificate]</a>
                    </li>
                    <span>Guest Editor</span>
                    <li>Pattern Recognition Letters special issue on Recent Advances in Deep Learning Model Security [WeChat<a target="_blank" href="https://mp.weixin.qq.com/s/3VxLYJLXolY2D8pADyjYKw"> News1</a> <a target="_blank" href="https://mp.weixin.qq.com/s/R8SKqLZ8VCLmjGUJbDwhAw">News2</a> <a target="_blank" href="https://www.jiqizhixin.com/articles/2021-07-05">News3</a>]
                    <li>Electronics special issue on Multimedia Content Analysis, Management and Retrieval: Trends and Challenges <a target="_blank" href="https://www.mdpi.com/journal/electronics/special_issues/multimedia_AMR">[CFP]</a>
                    </li>
                    <span>Senior Area Chair</span>
                    <li>Vision and Learning Seminar <a target="_blank" href="https://mp.weixin.qq.com/s/pQrtUaWtO_ep_DlXUKOc2g">(VALSE)</a>
                    </li>
                    <span>Session Chair</span>
                    <li><a href="pub/MM21SecChair.jpg" target="_blank">ACM MM</a> 2021
                    <li>ECCV 2020 China <a href="pub/SC-ECCV2020.jpeg" target="_blank">Pre-Conference</a>
                    </li>   
                    <span>Area Chair</span>
                    <li>The Chinese Association for Artificial Intelligence (CAAI) International Conference on Artificial Intelligence <a target="_blank" href="https://cicai.caai.cn/">(CICAI)</a> 2023
                    <li>The Chinese Association for Artificial Intelligence (CAAI) International Conference on Artificial Intelligence <a target="_blank" href="https://cicai.caai.cn/">(CICAI)</a> 2022
                    </li>
                    <span>Presentation Chair</span>
                    <li>The Chinese Association for Artificial Intelligence (CAAI) International Conference on Artificial Intelligence <a target="_blank" href="https://cicai.caai.cn/">(CICAI)</a> 2021
                    </li>
                    <span>Workshop Chair</span>
                    <li>The Chinese Conference on Biometric Recognition <a target="_blank" href="https://ccbr99.cn/index.html">(CCBR)</a> 2024<a target="_blank" href="https://mp.weixin.qq.com/s/cHg6ldEfk--K1NLsbGL9LA"> [Official Notification]</a>
                    </li>
                    <span>Member of Expert Arbitration</span>
                    <li>The "Challenge Cup" National Undergraduate Curricular Academic Science and Technology Works by Race <a target="_blank" href="pub/challenge-cup-24.jpg">[2024]</a>
                    <li>The "Challenge Cup" National Undergraduate Curricular Academic Science and Technology Works by Race <a target="_blank" href="pub/challenge-cup-23.jpeg">[2023]</a>
                    <li>China Artificial Intelligence <a target="_blank" href="https://ai.xm.gov.cn/">Competition</a>
                    </li>
                    <span>Senior Member</span>
                    <li>Chinese Association for Artificial Intelligence (CAAI)</li>
                    <li>China Society of Image and Graphics <a target="_blank" href="https://mp.weixin.qq.com/s/9YLcoyuTfp0XVsmpWbgrSA">(CSIG)</a></li>
                    </li>
                    <span>Technical Consultant</span>
                    <li><a href="pub/jiqizhixin-24.jpg" target="_blank">Synced</a> (2022-Now)
                    <li>Baidu Institute of AI (2020-2022)
                    <li>OPPO Institute (2021-2022)
                    <li>PENSEES (2020-2021)
                    </li>
                    <span>Committee Member</span>
                    <li>Technical Committee on Computer Vision, China Computer Federation <a href="pub/ccfcv21.jpeg" target="_blank">(CCF-CV)</a></li>
                    <li>Technical Committee on Big Visual Data, China Society of Image and Graphics <a href="pub/CSIG.pdf" target="_blank">(CSIG-BVD)</a></li>
                    <li>Technical Committee on Multimedia Division, China Society of Image and Graphics (CSIG-MM)</li>
                    <li>Committee for Elite Young Professionals, China Society of Image and Graphics (CSIG)</li>
                    <li>Committee for Elite Young Professionals, Beijing Society of Image and Graphics (BSIG)</li>
                    </li>
                    <span>Developer Expert</span>
                    <li><a target="_blank" href="https://www.paddlepaddle.org.cn/ppdemd?n=/ppdemd/%E8%B5%B5%E5%81%A5">PaddlePaddle</a>, Baidu
                    </li>
                    <span>Member</span>
                    <li>IEEE, <a href="pub/CCF.pdf" target="_blank">CCF</a>, CAAI, <a href="pub/CSIG.pdf" target="_blank">CSIG</a>, <a href="pub/CSIG.pdf" target="_blank">CSIG-BVD</a>, CSIG-MM, <a href="pub/BSIG.pdf" target="_blank">BSIG</a> </p>
                    </li>
                    <span>Invited Reviewer</span>
                    <p>Journal</p>
                    <li>T-PAMI, IJCV, T-MM, T-IFS, T-CSVT, Neurocomputing, T-CDS, T-AFFC, T-HMS, KNOSYS, IET Computer Vision, CSSP, JVCI, GVC, IMAVIS, ESWA, INFFUS, CVIU, ITS
                    <p>Conference</p>    
                    <li>NeurIPS (one of the <a href="pub/NeurIPS2018.png" target="_blank">top 30%</a> highest-scoring reviewers of NeurIPS 2018), CVPR, ICCV, ACM MM, AAAI, ICLR, ICML, ICME, ACCV, UAI, FG, CICAI, ICASSP
                    </li>
                    <span>Chair</span>
                    <li>The <a href="https://ccf.org.cn/CCDM2024/general_3035" target="_blank">Evolutionary Vision+X Oriented Learning</a> Workshop with CCDM 2024 <a target="_blank" href="https://mp.weixin.qq.com/s/m1qT2IFQkpF_4zfwzoCR3A">[Official News]</a> <a href="pub/ccdm24.jpg" target="_blank">[Certificate]</a>  
                    <li>The 1st <a target="_blank" href="https://skatingverse.github.io/">SkatingVerse</a> Workshop & Challenge with FG 2024 <a target="_blank" href="https://mp.weixin.qq.com/s/mN839_sR2wsyLT5VhkaYLw">[BSIG News] </a><a target="_blank" href="https://www.jiqizhixin.com/articles/2024-03-21">[Synced News]</a>
                    <li>The 3rd <a target="_blank" href="https://anti-uav.github.io/">Anti-UAV</a> Workshop & Challenge with CVPR 2023 <a href="pub/anti-uav.pdf" target="_blank">[Poster]</a> [WeChat<a target="_blank" href="https://mp.weixin.qq.com/s/BuK9Lba4taFgEprlbzhAnA"> News1</a> <a target="_blank" href="https://mp.weixin.qq.com/s/YILT9CWKXg5dVuj-ZqVJJg">News2</a>] <a target="_blank" href="https://community.modelscope.cn/63e0d79d406cc115977189e5.html">[ModelScope News]</a> <a target="_blank" href="https://blog.csdn.net/sunbaigui/article/details/128900807">[CSDN News]</a>
                    <li>The 2nd <a target="_blank" href="https://anti-uav.github.io/">Anti-UAV</a> Workshop & Challenge with ICCV 2021
                    <li>The <a target="_blank" href="http://valser.org/2021/#/workshopde?id=12">"Knowledge and Semantic Hybrid Driven Visual Understanding"</a> Workshop with VALSE 2021
                    <li>The 1st<a target="_blank" href="https://anti-uav.github.io/">Anti-UAV</a> Workshop & Challenge with CVPR 2020
                    <li>The <a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzIzMDE3OTE4OQ==&mid=2247483837&idx=1&sn=ae545300cd0eb1c2433677bc0abf38e5&source=41#wechat_redirect">Challenge</a> on Unconstrained Face Recognition, Suspicious Object Recognition, and Special Behavior Recognition
                    </li>
                    <span>Co-Chair</span>
                    <li>The Resource-Limited Infrared Small Target Detection (<a href="https://limitirstd.github.io" target="_blank">LimitIRSTD</a>) Challenge with ICPR 2024 <a target="_blank" href="https://mp.weixin.qq.com/s/7R0ZdtuOGPMySzzfxR5j2A">[BSIG News]</a>  
                    <li>The Wide Infrared Small Target Detection (<a href="https://wideirstd.github.io" target="_blank">WideIRSTD</a>) Challenge with PRCV 2024 <a target="_blank" href="https://mp.weixin.qq.com/s/7GqIJKznAJfkcGRBKHHxaA">[BSIG News]</a>     
                    <li>The <a target="_blank" href="https://mp.weixin.qq.com/s/W5bIvKLaTP_ZcNlng-YF1w">LLM & AGI</a> Workshop with CAIIAC 2024 <a target="_blank" href="https://mp.weixin.qq.com/s/XD_ul1_WGHmq4GEaSPbg8Q">[Official Summary]</a>
                    <li>The <a target="_blank" href="https://mp.weixin.qq.com/s/kZEx0osUS3hN07qGNH-hnw">Visual Target Perception: Present and Future</a> Workshop with CAIIAM 2023
                    <li>The <a target="_blank" href="http://valser.org/2022/#/workshopde?id=8">Explainable Deep Learning Algorithms and Vision Applications</a> Workshop with VALSE 2022
                    <li>The <a target="_blank" href="http://valser.org/2021/#/workshopde?id=12">Knowledge and Semantics Driven Visual Understanding</a> Workshop with VALSE 2021
                    <li>The <a target="_blank" href="https://rlq-tod.github.io/index.html">RLQ-TOD</a> Workshop and Challenge with ECCV 2020
                    <li>The L.I.P Workshop and <a target="_blank" href="https://lv-mhp.github.io/">MHP</a> Challenge with CVPR 2018
                    
                
                <h4 class="little_title">Academic Activities</h4>
                <ul id="interests">
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/HFGjGQeefuvl73VYk58ecA">invited</a> by the Workshop of Red Teaming Multi-Modal Large Language Model Security Challenge with CCDM 2024 to deliver a talk "Unconstrained Perception and Understanding: From Visual Vertical Domain Modeling to Multimodal Unification and Multi-Task Collaboration" on 29th Jul 2024.
                    <li> Officially <a target="_blank" href="https://mp.weixin.qq.com/s/pPIsj7IdML13GxWAfZ1FOQ">interviewed</a> by Committee for Elite Young Professionals, CSIG on 22 Jul 2024.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/l84u-fzSLKSK_yM3r32VJQ">invited</a> by ChinaMM 2024 AI Art & Design Workshop to deliver a talk "AI4Beauty: Innovation and Empowerment in the Era of LLMs" on 26th Jul 2024.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/WZxPN_XcRfNqNKwUlY8BiQ">invited</a> by the 7th CSIG Outstanding PhD Forum to deliver a talk "Unconstrained Perception and Understanding: From Visual Vertical Domain Modeling to Multimodal Unification and Multi-Task Collaboration" on 18th Jul 2024.
                    <li> I delivered a talk "Multi-Modal AI Agent" on the TeleAI & EE of Tsinghua <a target="_blank" href="https://mp.weixin.qq.com/s/FACnsuhQ2tKwrRLelX35rg">Meet-Up</a> on 08th Jul 2024.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/MU8xKC6y6z0thAGJvubY3A">invited</a> by BAAI Conference 2024 to deliver a talk "Unconstrained Perception and Understanding: From Visual Vertical Domain Modeling to Multimodal Unification and Multi-Task Collaboration" on 15th Jun 2024.
                    <li> Officially <a target="_blank" href="https://mp.weixin.qq.com/s/--cxnHNSAhb7kSyfKkV-WQ">interviewed</a> by CSIG on 02 Apr 2024.
                    <li> I was <a href="pub/NX-2023.jpg" target="_blank">invited</a> by Ningxia "Data from the East Computed by the West" Young Scientist Workshop on Artificial Intelligence Science and Technology Breakthroughs to deliver a talk "Towards Unconstrained Intelligent Perception and Deep Understanding on Images/Videos" on 28th Oct 2023.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/2WmhVTrLc-DppgrNU7QOvg">invited</a> by CAAI to deliver a talk "Towards Unconstrained Human-centric Intelligent Perception and Deep Understanding" on 29th Oct 2022.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/XmeeWHHivLHxObD2NRKr9w">invited</a> by BSIG to deliver a talk "Towards Unconstrained Human-centric Intelligent Perception and Deep Understanding" on 9th Sep 2022.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/6LXelSYFByRt1VdayeGvRQ">invited</a> by Tsinghua AIR Webinar to deliver a talk "Towards Unconstrained Image/Video Deep Understanding" on 19th Jul 2022.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/dcS3JCAItatpol4RuwGKlQ">invited</a> by CSIG Webinar to deliver a talk "Towards Unconstrained Image/Video Deep Understanding" on 28th Jun 2022.
                    <li> Officially <a target="_blank" href="https://mp.weixin.qq.com/s/TVVMmBPGSuM41QPaBW4Okw">interviewed</a> by CSIG on 24 May 2022.
                    <li> Officially interviewed by Beijing Association for Science and Technology, due to a series of contributions on "Unconstrained Image/Video Deep Understanding". [BAST Official<a target="_blank" href="https://mp.weixin.qq.com/s/C9VpNkyKWMv5v1KYKCRAig"> Interview1</a> <a href="pub/interview22.pdf" target="_blank">Interview2</a> <a target="_blank" href="https://mp.weixin.qq.com/s/XyXkrOySH1oAZSQ4z5vMew">Interview3</a>]
                    <li> Baidu PaddlePaddle <a target="_blank" href="https://mp.weixin.qq.com/s/JT_4pqRvSsAOhQln0GSH_g">officially</a> merged <a target="_blank" href="https://github.com/ZhaoJ9014/face.evoLVe">face.evoLVe</a> to better facilitate more cutting-edge researches and applications on facial analytics and human-centric multi-media understanding.
                    <li> I have co-organized a VALSE <a target="_blank" href="https://mp.weixin.qq.com/s/Mfy639FcGKt6XYQU-iXJgA">Tutorial</a> with Assoc. Prof. <a target="_blank" href="https://sites.google.com/site/xingxingwei1988/">Xingxing Wei</a> on the topic of "Deep Synthesis and Identification in Adversarial Environments" on 8th Sep 2021.
                    <li> I have co-organized a VALSE <a target="_blank" href="https://mp.weixin.qq.com/s/cAovsOUUJtSFqqJHNOI5Ew">Webinar</a> with Dr. <a target="_blank" href="https://sites.google.com/view/wenguanwang">Wenguan Wang</a> and Prof. <a target="_blank" href="https://wangzwhu.github.io/home/">Zheng Wang</a> on the topic of "Human-Centric Vision Techniques" on 13th Jan 2021.
                    <li> I was invited by Qihoo 360 to attend the <a href="pub/2020SH.jpg" target="_blank">"2020 Shanghai Digital Innovation Conference"</a> on 5th Dec 2020 as a panel guest of "Opportunities and Challenges Brought by Artificial Intelligence to Cyberspace" session.
                    <li> I have co-organized a VALSE <a target="_blank" href="http://valser.org/article-385-1.html">Webinar</a> with Prof. <a target="_blank" href="http://changxu.xyz">Chang Xu</a> on the topic of "Visual Generation and Synthesis" on 23th Sep 2020.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/JnR_NIEubxCsZMl9cU3x_g">invited</a> by Jiang Men to attend the <a target="_blank" href="https://mp.weixin.qq.com/s/333zqGhzrTXao-8Yc4TCJA">"将门ECCV 2020鲜声夺人云际会"</a> on 30th Aug 2020 as a panel guest of "奔涌吧后浪：从PhD到助理教授身份转变" session.
                    <li> I was invited by Prof. <a target="_blank" href="https://www.xjtlu.edu.cn/en/departments/academic-departments/electrical-and-electronic-engineering/staff/jimin-xiao">Jimin Xiao</a> at Xi'an Jiaotong-Liverpool University, Xi'an China to deliver a talk "Deep Learning for Human-Centric Image Analysis: From Face Recognition to Human Parsing" on 31st Jul 2020.
                    <li> I have co-organized a VALSE <a target="_blank" href="https://mp.weixin.qq.com/s/pvh4qISb1lwu31mK6G70Ig">Webinar</a> with Prof. <a target="_blank" href="http://people.ucas.edu.cn/~0003913?language=en">Shiguang Shan</a> on the topic of "Face-based Human Understanding: beyond Face Recognition" on 25th Mar 2020.
                    <li> I was invited by Prof. Congyan Lang at Beijing Jiaotong University, Beijing China to deliver a talk "Deep Learning for Human-Centric Image Analysis: From Face Recognition to Human Parsing" on 24th Oct 2019.
                    <li> I was <a href="pub/BAIDU.pdf" target="_blank">invited</a> by Dr. Jingtuo Liu at Baidu, Beijing China to deliver a talk "Deep Learning for Human-Centric Image Analysis: From Face Recognition to Human Parsing" on 5th Sep 2019.
                    <li> I was <a href="pub/HERAN_invitation.jpg" target="_blank">invited</a> by Prof. <a target="_blank" href="http://www.nlpr.ia.ac.cn/english/irds/People/rhe.html">Ran He</a> at Center for Research on Intelligent Perception and Computing, National Laboratory of Pattern Recognition, Institute of Automation, Chinese Academy of Sciences, Beijing China to deliver a talk "Deep Learning for Human-Centric Image Analysis: From Face Recognition to Human Parsing" on 29th Aug 2019.
                    <li> I was invited by Huawei Noah's Ark Lab to deliver a talk "Understanding Humans in Visual Scenes" on 13th Jun 2019.
                    <li> I was <a href="pub/jianzhao-PCL.pdf" target="_blank">invited</a> by Peng Cheng Laboratory (<a target="_blank" href="http://www.pcl.ac.cn/">PCL</a>) to attend the 2019 Overseas Young Scientist Workshop at Shenzhen China during 30th Mar 2019 to 1st Apr 2019 and deliver a talk "Deep Learning for Human-Centric Image Analysis: From Face Recognition to Human Parsing".
                    <li> I delivered a <a target="_blank" href="http://valser.org/2019/#/poster">spotlight</a> talk "Understanding Humans in Crowded Scenes: Deep Nested Adversarial Learning and A New Benchmark for Multi-Human Parsing" on VALSE 2019.      
                    <li> I was invited by CoLab, School of Computer, Beihang University to deliver a talk "Deep Learning for Human-Centric Image Analysis: From Face Recognition to Human Parsing" on 23rd Mar 2019.
                    <li> I was invited by Tencent Deep Sea AI Lab to deliver a talk "Margin-based Representation Learning, Residual Knowledge Distillation and Prior-Aided Super Resolution" on 1st Mar 2019.
                    <li> I was invited by UBTECH to deliver a talk "Deep Learning for Human-Centric Image Understanding" on 8th Jan 2019.
                    <li> I was invited by OmniVision to deliver a talk "Facial Analytics" on 16th Nov 2018.
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/nZcGJZwXmJvvB72EnBtsCA">invited</a> by Jiang Men to deliver a talk "Deep Learning for Human-Centric Image Understanding" on 30th Aug 2018. <a target="_blank" href="pub/JiangMen_Poster.jpeg">[Poster]</a> <a target="_blank" href="https://mp.weixin.qq.com/s/BZsopAYrUadQRdwj-JwZKA">[Summary]</a>
                    <li> I was <a target="_blank" href="https://mp.weixin.qq.com/s/ZKjR-l3pz06TbL5URHJGWw">invited</a> by VALSE Webinar to deliver a talk "Deep Learning for Human-Centric Image Understanding" on 22nd Aug 2018. <a target="_blank" href="https://mp.weixin.qq.com/s/jEFv4mfimKZW5EIahPATIg">[Summary]</a>
                    <li> I represented the Learning & Vision (LV) Group of NUS to "Launch of NUS new Vision, Mission and Values" at University Culture Center on 15th Aug 2018, and presented the recent achievements on Facial Analytics to NUS President Prof. <a href="http://president.nus.edu.sg/biography.php" target="_blank">Tan Eng Chye</a>. <a href="https://www.instagram.com/p/BmhlvOvg3be/?utm_source=ig_share_sheet&igshid=56r2rgyrhc5v" target="_blank">[NUS Instagram]</a> <a href="pub/Instagram.jpeg" target="_blank">[NUS News]</a> <a href="pub/20180815.jpeg" target="_blank">[Gallery]</a>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--//map-->
<!--footer-->
<div class="footer header-contents">
    <div class="container">
        <div class="col-md-5">
            <h1><img style="width: 15rem" src="images/TeleAI.jpg"/></a></h1>
            <p style="margin-top:25px;;text-align:center">Modified: 16 Jul 2024</p>   
            <!-- <p>Copyright &copy; 2021.Company name All rights reserved. </p> -->
        </div>
        <div class="col-md-5">
            <div style="display:inline-block;width:300px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5o66f75yvk2&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;br=1&amp;sx=0" async="async"></script></div>
        </div>
    </div>
    <!--//footer-->
    <!--banner Slider starts Here-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--//End-slider-script-->
    <!-- start-smooth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!--//smooth-scrolling-of-move-up-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
    </div>
</div>
</body>
</html>
